<!-- INCLUDE overall_header.html -->

<h1>{{ lang('ACP_CAT_DCTSTAFF') }}</h1>
<p>{{ lang('ACP_DCTSTAFF_DESCRIPTION') }}</p>

<form id="acp_dctstaff" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_DCTSTAFF_CONFIG') }}</legend>
		<dl>
			<dt><label for="dctstaff_group">{{ lang('ACP_DCTSTAFF_GROUP_LABEL') }}{{ lang('COLON') }}</label><br>
                <span>{{ lang('ACP_DCTSTAFF_GROUP_EXPLAIN') }}</span></dt>
			<dd>
                <select name="dctstaff_group">
					<option name="dctstaff_group" disabled {% if DEFAULT_VALUE == 0 %}selected{% endif %}>{{ lang('ACP_DCTSTAFF_CHOOSE_GROUP') }}</option>
                    {% for group_id, group_name in GROUPS %}
					<option name="dctstaff_group" value="{{ group_id }}" {% if DEFAULT_VALUE == group_id %}selected{% endif %}>{{ group_name }}</option>
                    {% endfor %}
				</select>
			</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
