<dl>
    <dt><label for="jabber">{{ ADYDCTSTAFF_JOBS_LABEL[constant('ady\\dctstaff\\constant\\jobs::TRAD')] }}</label></dt>
    <dd><input type="checkbox" id="dctstaff" name="dctstaff[trad]" value="{{ constant('ady\\dctstaff\\constant\\jobs::TRAD') }}" {% if ADYDCTSTAFF_JOBS.trad %}checked{% endif %}></dd>
</dl>
<dl>
    <dt><label for="jabber">{{ ADYDCTSTAFF_JOBS_LABEL[constant('ady\\dctstaff\\constant\\jobs::C1')] }}</label></dt>
    <dd><input type="checkbox" id="dctstaff" name="dctstaff[c1]" value="{{ constant('ady\\dctstaff\\constant\\jobs::C1') }}" {% if ADYDCTSTAFF_JOBS.c1 %}checked{% endif %}></dd>
</dl>
<dl>
    <dt><label for="jabber">{{ ADYDCTSTAFF_JOBS_LABEL[constant('ady\\dctstaff\\constant\\jobs::EDIT')] }}</label></dt>
    <dd><input type="checkbox" id="dctstaff" name="dctstaff[edit]" value="{{ constant('ady\\dctstaff\\constant\\jobs::EDIT') }}" {% if ADYDCTSTAFF_JOBS.edit %}checked{% endif %}></dd>
</dl>
<dl>
    <dt><label for="jabber">{{ ADYDCTSTAFF_JOBS_LABEL[constant('ady\\dctstaff\\constant\\jobs::C2')] }}</label></dt>
    <dd><input type="checkbox" id="dctstaff" name="dctstaff[c2]" value="{{ constant('ady\\dctstaff\\constant\\jobs::C2') }}" {% if ADYDCTSTAFF_JOBS.c2 %}checked{% endif %}></dd>
</dl>
