/*
 * @package DC-Trad Staff extension
 * @author Ady https://gitlab.com/adynemo
 * @license http://opensource.org/licenses/gpl-license.php GNU Public License
 */

 div.dctstaff-jobs {
  padding: 5px;
}
div.dctstaff-jobs span {
  padding-left: 2px;
  padding-right: 5px;
  border-right: solid 1px #536482;
  white-space: nowrap;
}
div.dctstaff-jobs span:first-child {
  padding-left: unset;
}
div.dctstaff-jobs span:last-child {
  padding-right: unset;
  border: none;
}
